@charset "utf-8";

/* init  */
*{margin: 0;padding: 0;}
li{list-style: none;}
a:link,a:visited{text-decoration: none; color:black}
.clearfix:after{content: "";display: block;clear: both;}

/* header  */
#header{
    width: 1000px;
    background-color: blanchedalmond;
    margin: 0 auto;
}

#header h1{
    width: 100px;
    background-color: pink;
    text-align: center;
    margin: 0 auto;
}

#header h1 a{
    display: block;
}

.menu li{
    background-color: skyblue;
    float : left;
    width: 20%;
    text-align: center;
    line-height: 50px;
}

.menu li a{
    display: block;
}

.menu li a:hover{background-color: white;}

/* visual  */
.visual{
    width: 1000px;
    margin: 0 auto;
    background-color: burlywood;
    height: 300px;
}

.main{
    background-color: aquamarine;
    height: 300px;
    margin: 0 auto;
    width: 1000px;
}

.main>div.sub1{
    background-color: wheat;
    float:left;
}

.main>div.sub2{
    background-color: beige;
    float:left;
}


/* 하위 layout */
.footer{
    background: darkgray;
    height: 50px;
    margin: 0 auto;
    width: 1000px;
}


