@charset "utf-8";
html,body{height: 100%;}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

/* init  */
*{margin: 0;padding: 0;box-sizing: border-box;}
a:link,
a:visited{text-decoration: none;color: #888;}
li{list-style: none;}
.clearfix:after{content: "";display: block;clear: both;}

/* header */

.container{
    width: 980px;
    margin: 0 auto;
}

.headerTop{
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.subMenu{
    float:right;
    height: 26px;
}

.subMenu li{
    float:left;
}

.subMenu li a{
    display: block;
    line-height: 26px;
    padding: 0 10px;
    font-size: 12px;
    position: relative;
}

.subMenu li a:after{
    content: "";
    display: block; 
    width: 1px; 
    height: 10px; 
    background: #888;
    position: absolute;
    right: 0;
    top : 9px;
} 

.subMenu li:last-child a:after{display: none;}

h1.logo{
    width: 200px;
    height: 49px;
    margin: 0 auto;
    margin-bottom: 10px;
}

h1 img{
    display: block;
}

#hd .headerBottom{
    background: #1C5DA3;
}

#hd .mainMenu li{
    float:left;
    width: calc(100%/6);
    border-right: 1px solid #336EAC;
}

#hd .mainMenu li:first-child{border-left: 1px solid #336EAC;}

#hd .mainMenu a{
    display: block;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.8px;
}